.user_profile_page{
    display: flex;
    height: 100vh;
    color: rgb(112, 110, 110);
}

.user_details_with_logo{
   border: 2px solid rgb(204, 191, 191);
   height: 100vh;
   width: 6%;
}

.user_profile_search_spacing{
    border: 2px solid rgb(204, 191, 191);
    height: 100vh;
    width: 15%;

}

.user_profile_collection_page{
      border: 2px solid rgb(204, 191, 191);
      height: 100vh;
      width: 70%;
}

.user_profile_tabs_page{
    border: 2px solid rgb(204, 191, 191);
    height: 100vh;
    width: 20%;
}

#my-collection-text{
    text-align: center;
}